services:
  # Portainer - 容器管理面板
  portainer:
    image: docker.1ms.run/6053537/portainer-ce:latest
    container_name: portainer
    restart: always
    network_mode: bridge
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "9000:9000"

  # WEB-SSH 网页终端模拟器
  webssh:
    image: docker.1ms.run/eooce/webssh:latest
    container_name: webssh
    network_mode: bridge
    ports:
      - "8888:8888"
    restart: always

  # Watchtower - 自动更新容器
  watchtower:
    image: docker.1ms.run/containrrr/watchtower:latest
    container_name: watchtower
    restart: always
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Asia/Shanghai
    command: --schedule "0 30 5 * * *" --cleanup --remove-volumes

  # openlist - 文件列表服务
  openlist:
    image: docker.1ms.run/openlistteam/openlist:latest
    container_name: openlist
    restart: always
    network_mode: bridge
    user: "1001:1001"
    volumes:
      - /docker_data/openlist:/opt/openlist/data
    ports:
      - "5244:5244"
    environment:
      - TZ=Asia/Shanghai
      - UMASK=022

  # Lucky - 反向代理工具（Host 网络）
  lucky:
    image: docker.1ms.run/gdy666/lucky:v2
    container_name: lucky
    restart: always
    network_mode: host
    volumes:
      - /docker_data/luckyconf:/app/conf
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Asia/Shanghai

  # Vaultwarden - 密码管理服务
  vaultwarden:
    image: docker.1ms.run/vaultwarden/server:latest
    container_name: vaultwarden
    restart: always
    network_mode: bridge
    volumes:
      - /docker_data/bitwarden:/data
    ports:
      - "8081:80"
    environment:
      - TZ=Asia/Shanghai
      - WEB_VAULT_ENABLED=true
      - SIGNUPS_ALLOWED=true 

  # xiaoya - 小雅Alist服务
  xiaoya:
    image: docker.1ms.run/xiaoyaliu/alist:latest
    container_name: xiaoya
    restart: always
    privileged: true
    network_mode: bridge
    volumes:
      - /etc/xiaoya:/data
      - /etc/xiaoya/data:/www/data
    ports:
      - "5678:80"
    environment:
      - TZ=Asia/Shanghai

  # mihomo 代理
  mihomo:
    image: docker.1ms.run/metacubex/mihomo:latest
    container_name: mihomo
    restart: always
    network_mode: host
    volumes:
      - /etc/mihomo:/root/.config/mihomo
