services:
  # openlist - 文件列表服务
  openlist:
    image: openlistteam/openlist:latest
    container_name: openlist
    restart: always
    network_mode: bridge
    user: "1001:1001"
    volumes:
      - /docker_data/openlist:/opt/openlist/data
    ports:
      - "5244:5244"
    environment:
      - TZ=Asia/Shanghai
      - UMASK=022

  # Lucky - 反向代理工具（Host 网络）
  lucky:
    image: gdy666/lucky:v2
    container_name: lucky
    restart: always
    network_mode: host
    volumes:
      - /docker_data/luckyconf:/app/conf
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Asia/Shanghai

  # Vaultwarden - 密码管理服务
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: always
    network_mode: bridge
    volumes:
      - /docker_data/bitwarden:/data
    ports:
      - 8081:80
    environment:
      - TZ=Asia/Shanghai
      - WEB_VAULT_ENABLED=true
      - SIGNUPS_ALLOWED=true
   
  # Watchtower - 自动更新容器
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: always
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Asia/Shanghai
    command: --schedule "0 30 5 * * *" --cleanup --remove-volumes

  # subs-check 代理池（订阅合并）
  subs-check:
    image: ghcr.nju.edu.cn/beck-8/subs-check:latest
    container_name: subs-check
    volumes:
      - /docker_data/subs:/app/config
      - /opt/subs:/app/output
    ports:
      - "8199:8199"
      - "8299:8299"
    environment:
      - TZ=Asia/Shanghai
      - API_KEY=421121
    restart: always
    tty: true
    network_mode: host

  # xiaoya
  xiaoya:
    image: xiaoyaliu/alist:latest
    container_name: xiaoya
    restart: always
    privileged: true
    ports:
      - "5678:5678"
    volumes:
      - /etc/xiaoya:/data
      - /etc/xiaoya/data:/www/data
    networks_mode: bridge

 # mihomo 代理
 mihomo:
    image: metacubex/mihomo:latest
    container_name: mihomo
    restart: always
    network_mode: host
    volumes:
      - /etc/mihomo:/root/.config/mihom
